/* cart.css */

.cart-modal {
    display: none;
    position: fixed;
    /* bottom: 60px;  */
    bottom: 3.74rem;
    /* right: 20px;  */
    right: 2rem;
    /* width: 300px; */
    width: 30rem;

    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1000;
}

.cart-header {
    background-color: var(--color-primary);
    color: #fff;
    color: var(--color-nav-links);
    padding: 0rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-items {
    padding: 20px;
    max-height: 40rem;
    overflow-y: auto !important;
}

.cart-item {
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
}

.cart-item-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 10px;
}

.cart-item-details {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
}

.cart-total{
    font-size: 1.4rem;
    text-align: end;
    padding: 1rem 2rem;
}

.close-cart-btn {
    cursor: pointer;
    font-size: 2.6rem;
}

.btn-remove-item{
    width: 8rem;
    height: 4rem;
    justify-self: center;
    align-items: center;
}

.cart-total-container{
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 1rem 2rem;
}


.btn-pagar:link,
.btn-pagar:visited {
    background-color: #087f5b;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    border-radius: 100px;
    width: 10rem;
    height: 4rem;
    padding-top: 1rem;
    align-self: center;
    align-content: center;
}

.btn-pagar:hover,
.btn-pagar:active {
    background-color: #099268;
}

/* Estilo para el botón de eliminar en cada artículo del carrito */
.cart-item-details .btn-remove-item {
    background-color: #ff0000; 
    color: #fff; 
    padding: 5px 10px; 
    border: 0;
    border-radius: 12px;
    cursor: pointer; 
}

.cart-item-details .btn-remove-item:hover {
    background-color: #cc0000;
}

/* Estilo para la notificación del carrito */
.cart-notification {
    background: var(--gradient-primary);
    color: white;
    /* padding: 5px 10px; */
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: none;
    justify-content: center;
    /* align-self: center; */
    text-align: center;
    
}


@media (max-width: 1500px){
    .cart-items{
        max-height: 26rem;
    }
}

@media (max-width: 800px){
    .cart-items{
        max-height: 14rem;
    }
}